<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시물 작성</title>
</head>
<body>
    <h1>게시물 작성</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}<br>
            {{ form.title(size=32) }}<br>
        </p>
        <p>
            {{ form.content.label }}<br>
            {{ form.content(rows=10, cols=40) }}<br>
        </p>
        <p>
            {{ form.author.label }}<br>
            {{ form.author(size=32) }}<br>
        </p>
        <p>
            <input type="submit" value="제출">
        </p>
    </form>
</body>
</html>
